@charset "UTF-8";

h1 {
    font-family: arial;
}

Body {
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(240, 250, 250);
    
}

#header h3{
    text-align: center;
}

#header #foto{
    text-align: center;
}

.indice{
    text-decoration:dashed;
}

.italico{
    font-style:italic;
}


#fotoperfil{
    text-align:center;
    width:30%;
    height: 80%;
    margin: 0 0 10px 10px;
    position: relative;
    
    
}

#foto{
    position: relative;
    top:40px;
    
    

}
#headerpai{
    
    height: 350px;
    max-width: 95%;
    margin:10px auto;
    text-align:center;
    background-image:url
    background-size: cover;
    background-position: center;
    
    
    
   
    
    
}

#header, #fotoperfil{
    
    display: inline-block;
    
    
}


#botoes{
    max-width: 70%;
    margin: 0 auto;
}

#botaoGitHub, #botaolinkedin{
    width: 48%;
    display: inline-block;
}

#botaoGitHub{
    position: relative; 
    bottom: 20px;
    height: 123.29px;
}

#imglinkedin{
    position: relative;
    width: 30%;
    left:110px;
    bottom: 30px;
}

#linkedin-button{
    position: relative;
    top: 90px;
    left: 140px;
    text-decoration: none;
}

#imggithub{
    position: relative;
    width: 40%;
    bottom: 20px;
    
}

#github-button{
   position: relative;
   top: 15px;
   left: 110px;
   text-decoration: none;
}

.menu{
    position: relative;
    left: -380px;
    top:-300px;
    
    
    
}

.menu li{
    display:inline;
    width: 80px;
}

.menu a{
    word-spacing: 0px;
}

