.apresentation-section {
  display: flex;
  margin: 100px auto;
  justify-content: space-evenly;
  width: 100%;
}

.name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  box-sizing: border-box;
}

.perfil-photo-div {
  clip-path: circle(60%);
  text-align: center;
}

#perfil-photo {
  clip-path: circle(60%);
  width: 80%;
}

h1 {
  font-size: 50px;
}

#paragraph {
  font-size: 25px;
}

.div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

#link {
  color: white;
  font-weight: 900;
  text-decoration: none;
}


@media screen and (max-width: 950px) and (min-width: 300px) {
  h1 {
    font-size: 30px;
  }
  .name {
    padding-left: 20px;
  }
  #paragraph {
    font-size: 20px;
  }
  .apresentation-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .perfil-photo-div {
    width: 50%;
    text-align: center;
  }
}