.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 100%;
}

.nav {
  padding-right: 100px;
}

.item-list {
  color: white;
  display: inline-block;
  font-size: 22px;
  font-weight: bold;
}

#item1, #item2 {
  margin-right: 30px;
}

#video {
  clip-path: circle(60%);
  height: 60px;
}

.video-div {
  padding: 15px 100px;
}

@media screen and (max-width: 900px) and (min-width: 360px) {
  #item1, #item2 {
    margin-right: 10px;
  }
  .nav {
    padding-right: 15px;
  }
  .video-div {
    padding: 15px 25px;
  }
  .item-list {
    font-size: 18px;
  }
}

@media screen and (max-width: 359px) {
  #item1, #item2 {
    margin-right: 5px;
  }
  .nav {
    padding-right: 10px;
  }
  .video-div {
    padding: 15px 25px;
  }
  .item-list {
    font-size: 14px;
  }
  #video {
    height: 35px;
  }
}