.Skills-section {
  display: flex;
  flex-wrap: wrap;
  margin: 220px auto;
  justify-content: space-between;
  width: 55%;
}

.icons {
  padding: 20px 0;
  margin: 0 30px;
  transition: all 0.5s;
  width: 80%;
}

.icons:hover {
  width: 90px;
  box-shadow: 0 0 60px 2px #3a88a5;
}

@media (prefers-reduced-motion: no-preference) {
  .icons:hover {
    animation: icons-spin  2s;
  }
}

@keyframes icons-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#js-logo {
  width: 80%;
}

#js-logo:hover {
  width: 80px;
}

.descriptions {
  align-items: center;
  display: flex;
  justify-content: center;
  line-height: 50px;
  text-align: justify;
  text-justify: inter-word;
  font-weight: bold;
  transition: all 0.5s;
  width: 80%;
}

.logos {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  width: 10%;
}

.description-p {
  font-size: 20px;
  margin: 0;
  text-indent: 40px;
}

#mouse-video {
  width: 50px;
}

#h2-skills {
  font-size: 30px;
  scroll-margin: 200px 0;
  width: 100%;
}

@media screen and (max-width: 950px) and (min-width: 375px) {
  .description-p {
    font-size: 0.8em;
    text-indent: 25px;
    width: 100%;
  }
  .Skills-section {
    display: flex;
    flex-direction: column;
    width: 80%;
  }
  .logos {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    cursor: pointer;
    width: 100%;
  }
  .icons{
    margin: 0 18px;
    width:12%;
  }
  #js-logo {
    width: 12%;
  }
  .descriptions{
    justify-content: center;
    width: 100%;
  }
  .icons:hover {
    width: 15%;
    box-shadow: 0 0 60px 2px #3a88a5;
  }
  #js-logo:hover {
    width: 14%;
  }
}