.Skills-section {
  display: flex;
  flex-wrap: wrap;
  margin: 220px auto;
  justify-content: flex-start;
  width: 80%;
}

.icons {
  padding: 20px 0;
  margin: 0 30px;
  transition: all 0.5s;
  width: 15%;
}

.icons:hover {
  width: 90px;
  box-shadow: 0 0 60px 2px #3a88a5;
}

@media (prefers-reduced-motion: no-preference) {
  .icons:hover {
    animation: icons-spin  2s;
  }
}

@keyframes icons-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#js-logo {
  width: 15%;
}

#js-logo:hover {
  width: 60px;
}

.descriptions {
  align-items: center;
  display: flex;
  justify-content: center;
  line-height: 70px;
  text-align: justify;
  font-weight: bold;
  transition: all 0.5s;
  width: 55%;
}

.logos {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  width: 30%;
}

.description-p {
  font-size: 1.4vw;
  margin: 0;
  text-indent: 40px;
  width: 100%;
}

#mouse-video {
  width: 50px;
}

#h2-skills {
  font-size: 2vw;
  padding-left: 11.6%;
  scroll-margin: 200px 0;
  width: 80%;
}

@media screen and (max-width: 900px) and (min-width: 300px) {
  .description-p {
    font-size: 15px;
    text-indent: 22px;
    width: 90%;
  }
  .Skills-section {
    display: flex;
    flex-direction: column;
    margin: 150px auto 0 auto;
    width: 90%;
  }
  .logos {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    cursor: pointer;
    width: 100%;
  }
  .icons{
    margin: 0 18px;
    width:10%;
  }
  #js-logo {
    width: 9%;
  }
  .descriptions{
    text-align: justify;
    line-height: 45px;
    padding-top: 20px;
    width: 100%;
  }
  .icons:hover {
    width: 15%;
    box-shadow: 0 0 60px 2px #3a88a5;
  }
  #js-logo:hover {
    width: 14%;
  }
  #h2-skills{
    font-size: 25px;
    padding-left: 2%;
  }
}